<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title || "Hindi Shayari" %></title>

    <meta name="description" content="<%= description || 'Read Latest Hindi Shayari, Love Shayari, Sad Shayari, Attitude Shayari and more.' %>">

    <link rel="stylesheet" href="/css/output.css">

</head>

<body class="bg-gray-100 text-gray-800">

    <%- body %>

</body>

</html>
