<h1 class="mb-4">Add New Shayari</h1>

<form action="/admin/shayari/create" method="POST">

<div class="mb-3">
<label class="form-label">Title</label>
<input
type="text"
name="title"
class="form-control"
required>
</div>

<div class="mb-3">
<label class="form-label">Content</label>
<textarea
name="content"
rows="8"
class="form-control"
required></textarea>
</div>

<div class="mb-3">
<label class="form-label">Category ID</label>
<select
    name="category"
    class="form-select"
    required>

    <option value="">Select Category</option>

    <% categories.forEach(function(category){ %>

        <option value="<%= category._id %>">
            <%= category.name %>
        </option>

    <% }) %>

</select>
<div class="mb-3">

<label class="form-label">

Background Image

</label>

<select
    name="background"
    class="form-select">

    <option value="">

        Select Background

    </option>

    <% backgrounds.forEach(function(background){ %>

        <option value="<%= background._id %>">

            <%= background.title %>

        </option>

    <% }) %>

</select>

</div>

</div>

<div class="mb-3">
<label class="form-label">Tags</label>
<input
type="text"
name="tags"
class="form-control"
placeholder="love,sad,attitude">
</div>

<div class="mb-3">
<label class="form-label">Language</label>

<select
name="language"
class="form-select">

<option value="Hindi">Hindi</option>
<option value="English">English</option>
<option value="Urdu">Urdu</option>

</select>

</div>

<div class="form-check mb-2">

<input
class="form-check-input"
type="checkbox"
name="isFeatured"
value="true">

<label class="form-check-label">

Featured

</label>

</div>

<div class="form-check mb-4">

<input
class="form-check-input"
type="checkbox"
name="isTrending"
value="true">

<label class="form-check-label">

Trending

</label>

</div>

<button
type="submit"
class="btn btn-success">

Save Shayari

</button>

<a
href="/admin/shayari"
class="btn btn-secondary">

Cancel

</a>

</form>
